body {
    margin: 0;
    background-color: #303030;
    font-family: 'Maven Pro', sans-serif;
    color: #f5f5f5;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Maven Pro', sans-serif;
}

/* mobile view */
@media screen and (max-width: 999px){

        /* NavBar */

    .headerImg, .headerDivider {
        display: none;
    }

    .navBar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: linear-gradient(#6f068c, #bd00fc);
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }

    .navBox, .displayBox {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navBar i {
        font-size: 36px !important;
        /* ^ Gives priority over current font size */
        color: #f5f5f5;
    }

    #displayHeader {
        position: fixed;
        width: 60%;
        height: 40px;
        margin: 0;
        padding: 0 15px;
        font-size: 32px;
        background: linear-gradient(#000, #303030);
        color: #f5f5f5;
        border: none;
        border-radius: 50px;
    }

    #prevSlide, #nextSlide {
        border-radius: 50% !important;
        background: linear-gradient(#000, #303030) !important;
    }

    #dropUpMenu {
        position: fixed;
        bottom: 60px;
        width: 100vw;
        height: 90%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(48, 48, 48, 0.85);
    }

    .dropUpBtn {
        width: 100px;
        margin:  15px;
        padding: 0;
        color: #f5f5f5;
        border: none;
        background-color: transparent;
    }

    .dropUpImg {
        width: 80px;
        height: 80px;
        border: solid 2px #f5f5f5;
        border-radius: 10px;
    }

    .dropUpBtn h3 {
        margin: 0;
        padding: 5px 0;
        text-align: center;
    }

    .navBar button:focus {
        outline: none;
    }

        /* Main Content */
    main {
        margin: 10% 5% 80px 5%;
    }

    p {
        margin: 0 0 0 10px;
    }

    .contentBlock, #slide h1, #slide h2, #slide h3 {
        margin: 0;
        padding: 0;
    }

    #slide h1 {
        font-size: 55pt;
    }

    #slide h1, #slide h2 {
        font-family: 'Ubuntu', sans-serif;
    }

    #slide h3 {
        font-size: 18pt;
        color: #bd00fc;
    }

    #slide h4 {
        font-size: 12pt;
        color: #8f8f8f;
    }

    #slide h3, #slide h4 {
        font-family: 'Kanit', sans-serif;
    }

        /* About Slide */
    .firstName {
        color: #bd00fc;
    }

    .lastName {
        color: #8f8f8f;
    }

    .aboutDivider {
        margin: 20px 0;
    }

    .aboutSlide .contentBlock {
        margin-top: 20px;
    }


        /* Education Slide */
    .educationSlide h4 {
        margin: 0 0 10px 0;
    }
        /* Skills Slide */
    .iconBlock {
        margin: 0 15px 20px 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skillsIcon {
        margin: 5px;
        color: #f5f5f5 !important;
    }

    .skillsSlide li {
        margin-left: 25px;
    }

        /* Projects Slide */
    .projectBlock {
        margin: 25px 0;
        border: 2px solid #f5f5f5;
        border-radius: 10px;
    }

    .projectsSlide h3 {
        padding: 5px 10px;
        background-color: #f5f5f5;
        color: #8f8f8f !important;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .projectsSlide a {
        margin-left: 10px;
    }

    .projectsSlide p {
        margin: 0;
        padding: 5px 8px;
        border-top: solid 1px #f5f5f5;
    }

        /* Contact Slide */
    .contactSlide {
        text-align: center;
    }

    .socialMediaBlock {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .resumeBlock {
        width: 80%;
        margin: 0 auto 10px;
        padding: 10px 0;
        border-radius: 10px;
        background-color: #8f8f8f;
    }

    a {
        color: #bd00fc;
    }

    /* mobile view rotated */
    @media screen and (max-height: 450px) {
        main {
            margin: 5% 5% 80px 5%;
        }

    }

    /* Tablet view */
    @media screen and (min-height: 820px) {
        main {
            margin: 10% 5% 110px 5%;
        }

        .firstName {
            display: inline-block;
            font-size: 65pt !important;
        }

        .lastName {
            margin-left: 25px !important;
            display: inline-block;
            font-size: 65pt !important;
        }

        .navBar {
            height: 100px;
        }

        .navBar i {
            font-size: 60px !important;
        }

        #displayHeader {
            height: 70px;
            font-size: 40pt;
        }

        #dropUpMenu {
            height: 100%;
            bottom: 100px;
        }

        .dropUpBtn {
            width: 150px;
            height: 150px;
            margin: 25px;
        }
    }
}

/* Monitor view */
@media screen and (min-width: 1000px) {
    .navBox, #displayHeader, .dropUpImg {
        display: none;
    }

    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 350px auto;
    }

    .navBar {
        height: 100%;
        background: linear-gradient( #6f068c, #bd00fc);
    }

    .displayBox {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
    }

    .headerImg {
        width: 200px;
        height: 200px;
        display: block;
        margin: 25px auto;
        border: solid 3px #f5f5f5;
        border-radius: 50%;
        background-color: #303030;
    }

    .headerDivider {
        margin: 0 25px;
    }

    #dropUpMenu {
        margin: 30px 0px;
        display: block !important;
        /* ^ Gives priority over function selectNav on index.js */
    }

    .dropUpBtn {
        width: 80%;
        display: block;
        margin: 5px auto;
        font-family: 'Maven Pro', sans-serif;
        color: #f5f5f5;
        background: transparent;
    }

    .dropUpBtn h3 {
        margin: 10px 0;
        font-size: 20pt;
        color: #f5f5f5 !important;
    }

    button {
        border: none;
    }

    button:focus {
        outline: none;
    }

    .dropUpBtn:hover {
        background: linear-gradient( to right, rgba(245, 245, 245,0), rgba(245, 245, 245, 0.15), rgba(245, 245, 245,0));
    }

    .activeSlide {
        background: linear-gradient( to right, rgba(245, 245, 245,0), rgba(245, 245, 245, 0.25), rgba(245, 245, 245,0)) !important;
        /* ^ Gives priority over .dropUpBtn:hover background rule */
    }

    main {
        margin: 50px 10%;
    }

    p {
        margin: 0 0 0 25px;
        font-size: 15pt;
    }

    h3 {
        font-size: 20pt;
        color: #bd00fc;
    }

    h4 {
        font-size: 16pt;
        color: #8f8f8f;
    }

    .firstName, .lastName {
        margin: 10px 0;
        display: inline-block;
        font-size: 65pt;
    }

    .firstName {
        color: #bd00fc;
    }

    .lastName {
        margin-left: 25px;
        color: #8f8f8f;
    }

    .aboutSlide h3 {
        margin-bottom: 25px;
    }

    .iconBlock {
        margin: 0 25px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skillsIcon {
        width: 100px;
    }

    li {
        font-size: 14pt;
    }

    /* Projects Slide */
    .projectBlock {
        margin: 25px 0;
        border: 2px solid #f5f5f5;
        border-radius: 10px;
    }

    .projectsSlide h3 {
        margin: 0;
        background-color: #f5f5f5;
        color: #8f8f8f !important;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .projectsSlide a {
        margin-left: 10px;
    }

    .projectsSlide p {
        margin: 0;
        padding: 5px 8px;
        border-top: solid 1px #f5f5f5;
    }
    
    .contactSlide h3 {
        margin: 25px 0 10px 0;
    }

    .contactSlide .contentBlock a {
        margin-left: 25px;
    }
}